/* Full Webpage */
body {
  background-image: url('https://m.media-amazon.com/images/I/818NOVVID7L._AC_SY300_SX300_QL70_FMwebp_.jpg');
  background-size: cover;
  background-repeat: no-repeat;
}

/* Header */
.top-nav{
  display: inline-flex;
  padding: 10px;
  background: linear-gradient(to right, #656D4A, #333D29);
  border-radius:0px 0px 20px 0px;
  width:99%;
  align-items: center;   /* Vertical center */
  height: 10vw;
}

.top-nav img{
  width: 8vw;
  height: 8vw;
  border-radius: 50vw;
  border: .5vw solid #B6AD90;
}

.top-nav div{
  font-family: "Basic", sans-serif;
  color:#B6AD90;
  margin: 10px;
  padding: 20px;
  font-size: 30px;
}

.nav-buffer {
  width:50%;
}

/* Body */
.main-content {
  display: inline-flex;
  padding: 10px;
  width:99%;
}


/*sidebar navigation*/
@keyframes gradientShift {
  0% { background-position: 0% 50%; }
  50% { background-position: 100% 50%; }
  100% { background-position: 0% 50%; }
}

.sidebar-nav button {
  font-family: "Basic", sans-serif;
  color:#333D29;
  font-size:1.5vw;
  display: block;
  width:90%;
  text-align:center;
  background-color:#A68A64;
  border:none;
  border-radius:1vw;
  margin: 0 auto;
  margin-bottom:.5vw;
  margin-top:.5vw;
  border: .2vw solid #C2C5AA;
}

.sidebar-nav button:hover {
  display: block;
  width:100%;
  color:#C2C5AA;
  background: linear-gradient(270deg, #936639, #582F0E);
  background-size: 400% 400%;
  animation: gradientShift 10s ease infinite;
}

.sidebar-nav a {
  font-family: "Basic", sans-serif;
  color:#333D29;
  font-size:1.5vw;
  display: block;
  width:90%;
  text-align:center;
  background-color:#A68A64;
  border:none;
  border-radius:1vw;
  margin: 0 auto;
  margin-bottom:.5vw;
  margin-top:.5vw;
  border: .2vw solid #C2C5AA;
}

.sidebar-nav a:hover {
  display: block;
  width:100%;
  color:#C2C5AA;
  background: linear-gradient(270deg, #936639, #582F0E);
  background-size: 400% 400%;
  animation: gradientShift 10s ease infinite;
}

#sidebar-show {
  width: 20vw;
  font-size:2vw;
  align-content:center;
  justify-content:center;
  margin-right:5vw;
}

.sidebar-nav {
  width: 20vw;
  font-size:2vw;
  background-color:#656D4A;
  align-content:top;
  margin-top:-.7vw;
  margin-right:5vw;
  border-radius: 0px 0px 20px 0px;
}

/*Slideshow*/
.mySlides {
  margin-top:2vw;
  width: 70vw;
  height:30vw;
  object-fit: cover;
  border-radius: 2vw;
  align-content:center;
  border: .5vw solid #C2C5AA;
}

/*Footer*/
footer {
  background: linear-gradient(to right, #656D4A, #333D29);
  text-align: center;
  font-family: "Basic", sans-serif;
  font-size:1vw;
  color:#B6AD90;
  height:10vw;
  padding:1vw;
  margin-top:2vw;
  border-radius:1vw;
}